* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --maxWidth: 1440px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div {
  display: flex;
  flex-direction: column;
}
