* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --maxWidth: 1440px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  width: 100px;
  height: 6px;
  background-color: #009f3c;
}

.ant-collapse-expand-icon {
  display: none;
}

.navItem {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.navItem:hover {
  color: white;
}
.navItem::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.navItem:hover::after {
  width: 100%;
}
@media (max-width: 1230px) {
  .navItem {
    font-size: 14px;
  }
}
