* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --maxWidth: 1440px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  width: 100px;
  height: 6px;
  background-color: #009f3c;
}

.ant-collapse-expand-icon {
  display: none;
}
